
>Psf
./2pid_trna_tyr.psf

>Dcds
./2pid_trna.dcd

>SystemSelection
(chain A B C D E F G H) and (not hydrogen)

>NodeSelection
(name CA P PA PG) or (resname CYT URA and name N1) or (resname ADE GUA ATP and name N9)

>Clusters
N9 ADE name N9 C8 N7 C5 C6 N6 N1 C2 N3 C4
P ADE name P O1P O2P O5' C5' C4' O4' C1' C3' C2' O2' O3'
N1 CYT name N1 C2 O2 N3 C4 N4 C5 C6
P CYT name P O1P O2P O5' C5' C4' O4' C1' C3' C2' O2' O3'
N9 GUA name N9 C8 N7 C5 C6 O6 N1 C2 N2 N3 C4 
P GUA name P O1P O2P O5' C5' C4' O4' C1' C3' C2' O2' O3' O5T
N1 URA name N1 C6 C5 C4 O4 N3 C2 O2
P URA name P O1P O2P O5' C5' C4' O4' C1' C3' C2' O2' O3'
N9 ATP name N9 C8 N7 C5 C6 N6 N1 C2 N3 C4 C4' O4' C1' C3' C2' O2' O3'
PB ATP name PG O1G O2G O2G PB O1B O2B O3B PA O1A O2A O3A O5' C5'


>Restrictions
notSameResidue
notNeighboringCAlpha
notNeighboringPhosphate